body{
    background-image: url("nbg.webp") ;
    background-size: cover;
    width:100%;
    height:100%;
    background-blend-mode:soft-light;
    background-color:#221f1f;
}

.header{
    height:80px;
    width:100%;
    display:flex;
    align-items: center;
}
.logo{
    background-image:url("logoo.png");
    background-size:cover;
    background-blend-mode:inherit;
    height:70px;
    width:150px;
    margin:0px 0px 0px 16px;
}
.hpanel{
    width:450px;
    margin: 0px 0px 0px 730px;
}
.lang{
    font-family: gotham;
    width:120px;
    height:30px;
    font-size: 17px;
    background-color: black;
    color:white;
    border-radius: 0.235rem;
}
.select{
    background-color:#E50914;
    width:100px;
    border-radius: 0.235rem;
    color:white;
    height: 33px;
    font-family: Gotham;
    font-size: 17px;
    appearance: auto;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first{
    color:white;
    font-size:40px;
    text-align: center;
    font-weight: 1000;
    font-family:Helvetica, sans-serif;
}
.second{
    font-family:Helvetica, sans-serif;
    color:white;
    font-size:20px;
    font-weight: 600;
    text-align: center;
}
.third{
    font-family:Helvetica, sans-serif;
    color:white;
    font-size:15px;
    text-align: center;   
}
.gmail{
    height:35px;
    width:250px;
    background-color: #221f1f;
}
.start{
    margin-left:5px;
    height:41px;
    width:100px;
    background-color:#E50914;
    color:white;
    border-radius: 0.285rem;
    appearance:none;
}
.line{
    border: 2px solid #E50914;
    margin-top:50px;
    width:1200px; height:100px;
    border-radius: 50%/100px 100px 0 0;
    border-color: #E50914 transparent transparent transparent;
}
.plans{
    background-color: #3D0D25;
    height:120px;
    width:75%;
    border-radius:2rem;
    display: block;
    margin-left:130px;
}
.plan1{
    color:white;
    font-size:30px;
    font-weight: 700;
    font-family:Helvetica, sans-serif;
    position: relative;
    margin-left: 45px;
}
.plan2{
    font-size:20px;
    margin-left: 45px;
    color:beige;
}
.trends{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}
.tre{
    margin-top:50px;
    color:white;
    font-size:26px;
    font-family:Helvetica, sans-serif;
}
.dropdowns{
    margin-top:15px;
}
.country{
    background-color: #221f1f;
    color:white;
    height:40px;
    width:70px;
}
.movie{
    background-color: #221f1f;
    color:white;
    height:40px;
    width:70px;
    margin-left:10px;
}
.poster{
    margin-top:20px;
    display:flex;
    justify-content: space-evenly;
}

.dunki{
    background-image: url("dunki9.jpg");
    height:300px;
    width:220px;
    background-size: contain;
    background-repeat: no-repeat;
}
.bhakshak{
    background-image: url("bhakshak.jpg");
    height:300px;
    width:180px;
    background-size: contain;
    background-repeat: no-repeat;
}
.animal{
    background-image: url("animal.jpg");
    height:300px;
    width:270px;
    background-size: contain;
    background-repeat: no-repeat;
}
.poster a{
    font-size:50px;
    font-weight: 700;
}
.footer{
    width:100%;
    color:white;
    height:150px;
}
.footer p{
    margin-left:395px;
} 
.query{
    margin-top:20px;
    display:flex;
    justify-content: center;
}
ul {
    display: flex;
    flex-direction: column;
}

.p:hover {
    transition:ease-in-out;
    transition-duration: 2s;
    color:aqua;
}
.start:hover{
    background-color:rgb(75, 5, 19);
}
.select:hover{
    background-color:rgb(75, 5, 19);
}